:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    --dark-bg-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
    --light-bg-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --bg-color: var(--neutral-0);
    --text-color: var(--neutral-0);
    --background-color: var(--neutral-800);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/browser-extensions-manager-ui-main/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf');
}

body.dark-mode {
    background: var(--dark-bg-gradient) no-repeat center center fixed;
    --text-color: var(--neutral-900);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background: var(--dark-bg-gradient) no-repeat center center fixed;
    color: var(--text-color);
}

p {
    color: var(--neutral-300);
    line-height: 130%;
}

.main_container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 52px;
    padding-left: 62px;
    padding-right: 62px;
    margin: auto;
}

.header {
    background-color: var(--background-color);
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 36px;
}

.header_right {
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-700);
    border-radius: 12px;
    padding: 8px;
    cursor: pointer;
}

.header_right img {
    width: 24px;
    height: 24px;
}

.main_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    width: 100%;
}

.top_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: var(--neutral-700);
    color: var(--neutral-300);
    border: 0.5px solid var(--neutral-600);
    border-radius: 32px;
    padding: 8px 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--red-400);
    border: 0.5px solid var(--red-400);
}

.btn.active {
    border: 0.5px solid var(--red-700);
    background-color: var(--red-700);
}

.button_wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bottom_content_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 24px;
    margin-top: 16px;
}

.extension_card {
    background-color: var(--background-color);
    border-radius: 12px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border: 1px solid var(--neutral-600);
}

.extension_card_top_content {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 100%;
}

.extension_card_icon img {
    width: 58px;
    height: 58px;
}

.remove {
    background-color: transparent;
    border: 1px solid var(--neutral-600);
    border-radius: 32px;
    padding: 8px 16px;
    color: var(--neutral-0);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.remove:hover {
    background-color: var(--red-400);
    border: 1px solid var(--red-400);
}

.extension_card_text_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.extension_card_bottom_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.extension_card_radio_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input:checked+.slider {
    background-color: var(--red-500);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-600);
    transition: 0.4s;
    border-radius: 32px;
}

.disk {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: var(--neutral-0);
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked+.slider .disk {
    transform: translateX(20px);
}